/* Reset para preencher */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fundo do negocio */
body {
    background-image: linear-gradient(#6e0d02, rgb(15, 15, 15));
    font-family: "Times New Roman", serif;
    color: #e0d6c6;

}

/* Cabeçalho */
header {
  background: rgba(0, 0, 0, 0.7); 
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #6b4a2b;
}

header h1 {
  font-size: 2.5rem;
  color: #d43c2c;
  text-shadow: 2px 2px 8px rgb(163, 6, 6);
  font-family: "Cinzel", serif;
  margin-bottom: 10px;
}

/* links */
nav {
  margin-top: 10px;
}

nav a {
  color: #cbb89d;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 1.s;
}

nav a:hover {
  color: #000000;
  text-shadow: 0 0 8px #ff0000;
  transform: scale(3.0);
}

/* Texto principal */
#textoprinc {
  background: rgba(20, 20, 20, 0.6);
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-left: 4px solid #d43c2c;
  border-radius: 8px;
  text-align: center;
}

#textoprinc p {
  font-size: 20px;
  
}

#textosec {
  background: rgba(15, 15, 15, 0.7);
  margin: 20px auto;
  padding: 25px;
  width: 85%;
  border: 1px solid #6b4a2b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(212, 60, 44, 0.5);
}

#textosec h2 {
  color: #ffb400;
  margin-bottom: 15px;
  font-family: "Cinzel", serif;
  text-shadow: 1px 1px 6px black;
}

#textosec p {
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
}

.img {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.img img {
  max-width: 80%;
  border: 2px solid #6b4a2b;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s;
}

.img img:hover {
  transform: scale(1.1);
}


footer {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 15px;
  margin-top: auto;
  font-size: 0.9rem;
  border-top: 2px solid #6b4a2b;
}